<header class="bg-dark text-white p-4">Fight Simulator</header>
  <div class="container">

    <div class="card-group" id="prefight-display">
      <div class="card player1-card">
        <div class="player1-avatar-photo"><%= image_tag('mage.jpg', class: "card-img-top", alt: "player1 Image") %></div> 
        <div class="card-img-overlay">
          <span class="player1-character-level character-level-design"></span>
        </div>
        <div class="card-body">
          <h4 class="card-title"><span class="player1-character-name"></span></h4>
          <div class="win-count-display">Wins:
            <span id="player1-win-count">0</span>
          </div>
          <p class="card-text"><span class="player1-character-race"></span> <span class="player1-character-class"></span></p>
        </div>
      </div>
      <span id="VS-symbol" class=text-white>VS</span>
      <div class="card player2-card">
        <div class="player2-avatar-photo"><%= image_tag('warrior.png', class: "card-img-top", alt: "player2 Image") %></div> 
        <div class="card-img-overlay player2-level-placement">
          <span class="player2-character-level character-level-design"></span>
        </div>
        <div class="card-body">
          <h4 class="card-title"><span class="player2-character-name"></span></h4>
          <div class="win-count-display">Wins:
            <span id="player2-win-count">0</span>
          </div>
          <p class="card-text"><span class="player2-character-race"></span> <span class="player2-character-class"></p>
        </div>
      </div>
      <button type="button" id="start-fight-button" class="btn btn-danger btn-block">Fight!</button>
    </div>

    <div class="card-group" id="fight-display">
      <div class="card player1-card">
        <div class="player1-avatar-photo"><%= image_tag('mage.jpg', class: "card-img-top", alt: "player1 Image") %></div> 
        <div class="card-img-overlay">
          <span class="player1-character-level character-level-design"></span>
        </div>
        <div class="card-body">
          <div class="stat-info-popover text-info"><i class="fa fa-info-circle" aria-hidden="true" id="player1-stat-info-activator"></i></div>
          <div id="player1-stat-info-popover" class="player-stat-info-popover">
            <div id="player1-stat-popover-header" class="player-stat-popover-header"></div>
            <div id="player1-stat-popover-body"></div>            
          </div>
          <h4 class="card-title"><span class="player1-character-name"></span><span id="player1-death-indicator">(dead)</span></h4>
          <p class="card-text"><span class="player1-character-race"></span> <span class="player1-character-class"></span></p>
          Health:
          <div class="progress">
            <div class="progress-bar bg-success" id="player1-health-bar"></div>
          </div>
          <div id="player1-action-bar"></div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="turn-board">
          <div id="turn-board-controls">
            <h2 id="whos-turn"></h2>
            <h5><span id="actions-left-in-turn"></span> actions left</h5>
            <button type="button" id="end-turn-button" class="btn btn-warning">End Turn</button>
            <span id="end-turn-timer"class="text-white"></span>
          </div>
          <div id="winner-display-turn-board"></div>
        </div>
        <button type="button" class="btn btn-success" id="fight-again-button">Rematch</button>
        <div class="card-body">
          <div id="player1-moves"></div>
          <div id="player2-moves"></div>
          <br><br>
          <div id="combat-message"></div>
        </div>
      </div>


      <div class="card player2-card">
        <div class="player2-avatar-photo"><%= image_tag('warrior.png', class: "card-img-top", alt: "player2 Image") %></div> 
        <div class="card-img-overlay player2-level-placement">
          <span class="player2-character-level character-level-design"></span>
        </div>
        <div class="card-body">
          <div class="stat-info-popover text-info"><i class="fa fa-info-circle" aria-hidden="true" id="player2-stat-info-activator"></i></div>
          <div id="player2-stat-info-popover" class="player-stat-info-popover">
            <div id="player2-stat-popover-header" class="player-stat-popover-header"></div>
            <div id="player2-stat-popover-body"></div>            
          </div>
          <h4 class="card-title"><span class="player2-character-name"></span><span id="player2-death-indicator">(dead)</span></h4>
          <p class="card-text"><span class="player2-character-race"></span> <span class="player2-character-class"></p>
          Health:
          <div class="progress">
            <div class="progress-bar bg-success" id="player2-health-bar"></div>
          </div>
          <div id="player2-action-bar"></div>
        </div>
      </div>
    </div>

    <!-- AUDIO -->
    <!-- <audio id="fighting-background-music">
      <source src="audio/fightingBackgroundMusic.mp3" type="audio/mp3">
    </audio> -->

  </div>
