<div id="full-grayed-out-screen"></div>
<div class="container" id="uppermost-container">
  <div id="turn-popup-notifier"></div>

  <div class="card-group" id="prefight-display">
    <%= render 'game/prefight' %>
  </div>

  <div class="card-group" id="fight-display">
    <%= render 'game/fight' %>
  </div>

</div>
<%= render 'audio/audio' %>
