// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  font-family: Montserrat;
}
body{
  background-image: image-url("background.jpg");
}

#uppermost-container{
  margin-top: 60px;
  display: block;
}

/*turn popup notifier*/
#turn-popup-notifier{
  position:absolute;
  padding: 20px;
  background-color: white;
  top: 25%;
  left: 0;
  right:0;
  width: 50%;
  font-size: 30px;
  margin: auto;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 3px 3px 3px;
  text-align:center;
}

#full-grayed-out-screen{
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  background-color: black;
  opacity: 0.5;
  z-index: 99;
  content: "";
}

/*header*/
header{
  font-size: 2em;
  text-align: center;
  letter-spacing: -.01em;
}

/*pre fight*/
#prefight-display{
  margin-top: 30px;
}

#fight-display{
  position: relative;
  height: 700px;
}

#VS-symbol{
  margin-top: 23%;
  display: inline-block;
  font-size: 75px;
  padding: 0 10px 0 10px;
}

#start-fight-button{
  margin-top: 20px;
}

/*message box*/

#combat-message-header{
  position: relative;
  padding: 3px;
  padding-left: 8px;
  display: inline-block;
  font-size: 10px;
  background-color: #D3D3D3;
  z-index:9;
  border-radius: 5px 4px 0 0;
}

#combat-message-header::after{
  width: 35px;
  height: 35px;
  margin-top: 6px;
  background-color: #D3D3D3;
  position:absolute;
  left: 87px;
  transform:rotate(40deg);
  content: '';
  z-index:-1;
}
#combat-message{
  position: relative;
  overflow: scroll;
  height: 250px;
  border-top: solid thin #D3D3D3;
  padding-top: 8px;
  z-index: 10;
  background-color:white;
  bottom: 0;
}

#combat-message-container{
  position:absolute;
  width: 84%;
  bottom:0;
  height: 300px;
}

.player1-message{
  color:blue;
}

.player2-message{
  color: red;
}

/*player stat pop up*/

.player-stat-info-popover{
  box-shadow: 3px 3px 6px darkgrey;
  position: absolute;
  right:-40px;
  margin-top:30px;
  padding:4px;
  background-color: white;
  z-index: 100;
  padding: 15px;
}

.player-stat-popover-header{
  border-bottom: solid thin lightgrey;
  font-size: 20px; 
  margin-bottom: 12px;
}

/*center console*/

#action-header-title{
  font-family: 'Yatra One', cursive;
  position: relative;
  display: inline-block;
  width:240px;
  background-color: #D3D3D3;
  font-size: 20px;  
  letter-spacing: 1px;
  font-weight: 700;
  border: solid thin #191919;
  box-shadow: 1px 1px 4px darkgray;
  text-shadow: 1px 1px 18px darkgray;
}

#action-header{
  text-align: center;
  position: relative;
  margin-top: -5px;
  margin-bottom: 18px;
}

#action-art-left{
  width: 63px;
  position:absolute;
  top: -4px;
  left: 0px;
  z-index: 2;
}
#action-art-right{
  width: 72px;
  position:absolute;
  top: -4px;
  margin-top:-5px;
  position:absolute;
  z-index: 2;
  right: -5px;
}

#player1-turn-arrow{
  font-size: 30px;
  position:absolute; 
  left:10px;
  display: none;
}

#player2-turn-arrow{
  font-size: 30px;
  position:absolute; 
  right:10px;
  display:none;
}

#player2-moves{
  text-align: right;
}
#player1-moves{
  
}

.ability-disabled-player1{
  opacity: 0.65;
}

.ability-disabled-player1:hover{
  background-color: #6c757d;
  opacity: 0.65;
}

.ability-disabled-player2{
  opacity: 0.65;
}

.ability-disabled-player2:hover{
  background-color: #6c757d;
  opacity: 0.65;
}

.end-turn-disabled-abilities{
  background-color: #6c757d;
  opacity: 0.65;
}

.end-turn-disabled-abilities:hover{
  background-color: #6c757d;
  opacity: 0.65;
}

#end-turn-timer{
  margin-left: 4px;
  padding: 4px 10px 4px 10px;
  position: absolute;
  font-size: 1.2em;
  background-color: #d9534f;
  border-radius: 30px;
}

/*minion cards*/

.card{
  width: 200px;
}

.card-group{
  margin-top: 30px;
}

.gray-photo{
  opacity: 0.7;
  background-color: #000;
}

#action-display-player1{
  position:absolute;
  top:150px;
  left:39%;
}

#action-display-player2{
  position:absolute;
  top:150px;
  left:39%;
}

.display-action-text{
  position:absolute;
  text-shadow: 2px 2px 3px black;
  font-size: 85px;
  animation-name: display-action-text-motion;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}

@keyframes display-action-text-motion{
  0%   {top: 0px;}
  33% {opacity: 1;}
  66% {top: -90px; opacity: 0;}
  100% {opacity: 0;}
}

@-webkit-keyframes active-player {
  0%   {background-color:#e0f0ff;}
  50%  {background-color:#bbebff;}
  100% {background-color:#e0f0ff;}
}

.active-player{
  -webkit-animation-name: active-player; 
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.player2-level-placement{
  text-align: right;
}

.character-level-design{
  background-color:darkgrey;
  border-radius: 50px;
  padding: 2px 10px 2px 10px;
  border: solid #a68300;
  color: gold;
  text-shadow: 3px 3px 5px black;
  box-shadow: 3px 3px 5px black;
  font-size:18px;
}

#dot-display-player1{
  background-color: white;
  opacity: 0.6;
  padding: 3px 8px;
  border-radius: 20px;
  position:absolute;
  right:18px;
}

#dot-display-player2{
  background-color: white;
  opacity: 0.6;
  padding: 3px 8px;
  border-radius: 20px;
  position:absolute;
  left:18px;
}

#buff-hot-display-player1{
  background-color: white;
  opacity: 0.6;
  padding: 3px 8px;
  border-radius: 20px;
  position:absolute;
  right:18px;
}

#buff-hot-display-player2{
  background-color: white;
  opacity: 0.6;
  padding: 3px 8px;
  border-radius: 20px;
  position:absolute;
  left:18px;
}

.fa-fire{
  color:red;
}

.fa-shield-alt{
  color: blue;
}

#player2-death-indicator{
  visibility: hidden;
}

#player1-death-indicator{
  visibility: hidden;
}

.stat-info-popover{
  position:absolute;
  right:20px;
  font-size: 16px;
}

/* init bars */

#player2-health-bar{
  width: 100%;
}

#player2-mana-bar{
  width: 100%;
}

#player1-health-bar{
  width: 100%;
}

#player1-mana-bar{
  width: 100%;
}

/*action box*/
.attack-actions{
  margin: 0 3px;
}

.card-header{
  text-align: center;
}

#if-screen-to-small{
  display: none;
}

@media screen and (max-width: 680px) {
  #uppermost-container{
    display:none;
  }
  body{
    background-image: none;
  }
  #if-screen-to-small{
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #combat-message-container{
    display: none;
  }
  #fight-display{
    height: 380px;
  }
  #whos-turn{
    display:none;
  }
  #player2-moves{
    text-align: center;
  }
  #player1-moves{
    text-align: center;
  }
  #action-header-title{
    display: none;
  }
  .container{
    margin: 0;
  }
  #uppermost-container{
    margin-top: -30px;
  }
  .card-group{
    position: relative;
    width:695px;
  }
  #start-fight-button{
    position: absolute;
    top:268px;
    width: 117px;
    height: 106px;
    left: 289px;
  }
  #fight-player1-type{
    display: none;
  }
  #fight-player2-type{
    display: none;
  }
  .player-stat-info-popover{
    right:5px;
    margin-top:-245px;
    width: 220px;
  }
}


@media screen and (max-width: 993px) {
  #action-art-left{
    display: none;
  }
  #action-art-right{
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  #action-header-title{
    width:180px;
  }
}
